
.homediv{
  background-image: url('https://cdn.rentickle.com/skin/frontend/rentickle/lazy8/images/home_banner_bg.jpg');
 
  background-size: 100%;
  margin-top: 0px;
  padding-top: 20%;
  
  position: relative;
  color: white;
  margin-bottom: 0;
  height: 100vh;
  width: 100vw;
}
